<div id="header" style="background-color: #fff;">
    <div class="rst-inner-header">
        <div class="container">
            <div class="rst-logo">
                <a href="https://removal.ai/">
                    <img class="black" src="../../assets/images/remover logo.png"
                        alt="Removal.AI - Free Background Remover" width="60" height="40" />
                </a>
            </div>
            <div class="rst-nav-menu">
                <ul id="primary-menu" class="menu">
                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page mega-menu-item">
                        <a href="#">Tool &amp; API</a>
                        <!--Drop Down-->
                        <ul class="drop-down-ul">
                            <li class="menu-child-item  ">
                                <a href="/api-documentation/">
                                    <p><b>API Access</b></p>
                                    <p><span>Background Removal
                                            API</span></p>
                                </a>
                            </li>
                            <li class="menu-child-item ">
                                <a href="/download/">
                                    <p><b>Bulk Removal</b></p>
                                    <p><span>Application For WINDOWS /
                                            MAC</span></p>
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a (click)="Gotoprice()">Pricing</a>
                    </li>
                </ul>
                <ul id="menu-header-2" class="menu">
                    <li id="upload-page" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a id="upload-page-link" href="/upload/">Remove Background</a>
                    </li>
                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/manual-removal-background-services/">Manual
                            Services</a>
                    </li>
                    <li id="" class="menu-item menu-item-type-post_type menu-item-object-page ">
                        <a href="/login/">Login</a>
                    </li>
                </ul>
            </div>
            <button class="rst-menu-trigger">
                <span>Toggle navigation</span>
            </button>
            <div class="clear"></div>
        </div>
    </div>
</div>