<div id="footer" class="footer-3">
    <div class="top-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>About Removal.ai</span></h5>
                        <div class="textwidget">
                            <p>Removal.ai is an A.I. powered tool that uses advanced computer vision algorithms to
                                detect the foreground pixel and separates the background completely from the
                                foreground.</p>
                            <p style="margin-bottom: 0"><i class="fa fa-envelope" style="margin-right: 10px"></i>
                                E-mail: <a style="color: #000;" href="mailto:hello@removal.ai">hello@removal.ai</a>
                            </p>
                            <p style="margin-bottom: 0"><i class="fa fa-phone"
                                    style="margin-right: 10px"></i>
                                Phone Number: <a style="color: #000;" href="tel:+442032870646">+44 20 3287
                                    0646</a></p>
                            <p style="margin-bottom: 0"><i class="fa fa-map" style="margin-right: 10px"></i>
                                Vietnam Office: #5
                                Nguyentrai street, Vinh city,
                                Vietnam</p>
                            <p style="margin-bottom: 0"><i class="fa fa-map-marker" style="margin-right: 10px"></i>
                                UK Office: 24-26 Arcadia
                                Avenue, Dephna House #105,
                                London, Greater London, United
                                Kingdom, N3 2JU</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-2 ">
                    <div class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>Tools & API</span></h5>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/api-documentation/">API Documentation</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/download/">Desktop Tools</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/category/design-resources/">Design Resources</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- <div style="margin-top: 40px;"
                        class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>Support</span></h5>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    (click)="Gotocontactus()">Contact us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                    (click)="Gototermcondition()">Terms & Conditions</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gotoprivacy()">Privacy Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/refund-policy/">Refund Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/cancel-policy/">Cancellation Policy</a></li>
                            </ul>
                        </div>

                    </div> -->
                </div>
                <div class="col-md-2">
                    <div class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>Support</span></h5>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gotocontactus()">Contact us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gototermcondition()">Terms & Conditions</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gotoprivacy()">Privacy Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/refund-policy/">Refund Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/cancel-policy/">Cancellation Policy</a></li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-md-2">
                    <!-- <div class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>Support</span></h5>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gotocontactus()">Contact us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gototermcondition()">Terms & Conditions</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        (click)="Gotoprivacy()">Privacy Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/refund-policy/">Refund Policy</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/cancel-policy/">Cancellation Policy</a></li>
                            </ul>
                        </div>

                    </div> -->
                    <!-- <div class="rst-widget grid__item small-down--one-whole medium-down--one-whole">
                        <h5 class="rst-footer-title"><span>Company</span></h5>
                        <div class="menu-menu-1-container">
                            <ul id="menu-menu-1" class="menu">
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/about-us/">About us</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/blog/">Blog</a></li>
                                <li class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                        href="/affiliate/">Affiliate Program</a></li>
                            </ul>
                        </div>
                    </div> -->
                    <!-- <div class="clear"></div> -->
                    <h5 class="rst-footer-title">Follow us</h5>
                    <ul class="social-media">
                        <li><a aria-label="Twitter" href="https://twitter.com/Removal_ai"><i
                                    class="fab fa-twitter"></i></a>
                        </li>
                        <li><a aria-label="Pinterest" href="https://www.pinterest.com/RemovalAI/"><i
                                    class="fab fa-pinterest"></i></a></li>
                        <li><a aria-label="Facebook" href="https://www.facebook.com/removalai"><i
                                    class="fab fa-facebook"></i></a>
                        </li>
                    </ul>
                    <div class="clear"></div>
                    
                    <a id="changeLanguage" href="javascript:;"><i class="fa fa-globe"></i>
                        English <i class="fa fa-angle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
    <div class="bottom-footer">
        <div class="container text-center">
            <h5>Copyright 2019-2021 Removal AI - All rights reserved.</h5>
            <p>"Removal" is a brand of "REMOVAL.AI LTD. Registered in England and Wales No: "13257563".
            </p>
            <p>All trademarks, service marks, trade names, product names, logos and trade dress appearing on our
                website are the property of their respective owners.</p>
            <img width="321" height="25" src="https://removal.ai/wp-content/uploads/pay.png"
                alt="Removal payment method" />
        </div>
    </div>
</div>

<!-- Language Modal -->
<!-- <div id="modalLanguage" class="rm-short-modal is-hidden">
    <div class="rm-short-modal-content">
        <h4>Change Language</h4>
        <a href="https://removal.ai">English</a>
        <a href="https://removal.ai/zh-hant/">繁體中文</a>
        <a href="https://removal.ai/ja/">日本語</a>
        <a href="https://removal.ai/es/">Español</a>
        <a href="https://removal.ai/de/">Deutsch</a>
        <a href="https://removal.ai/fr/">Français</a>
        <div>
            <a href="javascript:;" id="modalLanguageClose">Close</a>
        </div>
    </div>
</div> -->