.bottom-footer {
    background-color: #f8f8f8;
    color: #333;
    margin-top: 80px;
    padding-top: 20px !important;
    padding-bottom: 40px !important;
}
.bottom-footer h5 {
    color: #000;
    font-size: 14px;
}

.footer-3 {
    background-color: #f8f8f8;
    padding-top: 80px;
    margin-top: -20px;
}

