<!-- <div class="content-inner">
    
    <h1 class="rm-text-center" style="opacity: 0">Get Full Resolutions Images </h1>
    <div class="rm-pricing-container col-3">
        <div class="rm-pricing-inner" style="opacity: 0">
            <div class="rm-pricing-item free-package" style="height: 775px;">
                <div class="rm-pricing-item-inner">
                    <div class="rm-package-name">
                        Free Account </div>
                    <div class="rm-package-feature">
                        <div class="rm-feature-item">
                            <span>1 free credit</span>
                        </div>
                        <div class="rm-feature-item">
                            <span>50 free previews via API and apps</span>
                        </div>
                        <div class="rm-feature-item">
                            <span>Refer friend and earn credit</span>
                        </div>
                    </div>
                    <div class="rm-package-button">
                        <button class="rm-bt-subscribe rm-bt  rm-bt-main-color rm-transition"
                            data-onClick="RemovalPricing.signUpFree">
                            Sign up free </button>
                    </div>
                    <p style="text-align: center; font-size: 13px; color: #999">
                        Free Forever</p>
                </div>
            </div>

            <div class="rm-pricing-item recommend" style="height: 875px;">
                <div class="rm-pricing-item-inner">
                    <div class="rm-package-name">
                        Monthly subscriptions </div>
                    <div class="rm-package-average-price">
                        <span>$ 0.07</span>
                        / image
                    </div>
                    <div class="rm-package-image-price rm-pd-left-15 rm-pd-right-15">
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="439"
                                    data-images="40" data-price="5.99">
                                <label>40 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                5.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.15">
                                0.15 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="440"
                                    data-images="200" data-price="25.99">
                                <label>200 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                25.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.13">
                                0.13 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="441"
                                    data-images="500" data-price="63.99">
                                <label>500 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                63.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.13">
                                0.13 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="442"
                                    data-images="1200" data-price="120.9">
                                <label>1,200 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                120.90</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.10">
                                0.10 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item active" data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="443"
                                    data-images="5000" data-price="359.9" checked>
                                <label>5,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                359.90</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.07">
                                0.07 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="444"
                                    data-images="7500" data-price="439.9">
                                <label>7,500 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                439.90</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.06">
                                0.06 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="445"
                                    data-images="10000" data-price="450">
                                <label>10,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                450.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.05">
                                0.05 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="446"
                                    data-images="15000" data-price="645">
                                <label>15,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                645.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.04">
                                0.04 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="447"
                                    data-images="25000" data-price="1120">
                                <label>25,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                1,120.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.04">
                                0.04 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_1" value="448"
                                    data-images="50000" data-price="1650">
                                <label>50,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                1,650.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.03">
                                0.03 <strong> / image</strong>
                            </span>
                        </div>
                    </div>
                    <div class="rm-subscription">
                        <div class="ui toggle checkbox">
                            <input type="checkbox" name="pay_monthly" id="pay_monthly" value="1" checked>
                            <label class="pay-monthly" for="pay_monthly">
                                Pay Monthly</label>
                        </div>
                        <p class="pay_monthly_label">
                            Next renewal: <span></span></p>
                    </div>
                    <div class="rm-package-button">
                        <div class="rm-subscribe-message rm-mg-bottom-5 rm-hidden"></div>
                        <button class="rm-bt-subscribe rm-bt  rm-bt-main-color rm-transition"
                            data-login="https://removal.ai/login?return_url=https%3A%2F%2Fremoval.ai%2Fpricing"
                            data-onClick="RemovalPricing.processSubscribe">
                            Subscribe now </button>

                        <button class="rm-bt-contact-us rm-bt rm-bt-main-color rm-transition rm-hidden"
                            data-link="https://removal.ai/contact" data-onClick="RemovalPricing.gotoContact">
                            Contact Us </button>
                    </div>
                    <div style="font-size: 13px; color: #999"
                        class="rm-package-note rm-text-center rm-pd-right-15 rm-pd-left-15">
                        * Price inl. VAT, if applicable. </div>
                    <p
                        style="text-align: center; font-size: 13px; margin-top: 5px; margin-bottom: 5px; padding-left: 30px; padding-right: 30px;  color: #999">
                        <a href="/refund-policy/" style="color: #999">
                            *<b> 14 Days</b> money back guarantee </a>
                    </p>
                    <p
                        style="text-align: center; font-size: 13px; margin-top: 5px; margin-bottom: 5px; padding-left: 30px; padding-right: 30px;  color: #999">
                        * On-demand credít roll over </p>
                    <p
                        style="text-align: center; font-size: 13px; margin-top: 10px; padding-left: 30px; padding-right: 30px;  color: #999">
                        Credits available for use anytime within a month of purchase. </p>
                </div>
            </div>
            <div class="rm-pricing-item recommend" style="height: 875px;">
                <div class="rm-pricing-item-inner">
                    <div class="rm-package-name">
                        Lifetime </div>
                    <div class="rm-package-average-price">
                        <span>$ 0.48</span>
                        / image
                    </div>
                    <div class="rm-package-image-price rm-pd-left-15 rm-pd-right-15">
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="449"
                                    data-images="1" data-price="1.89">
                                <label>1 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                1.89</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="1.89">
                                1.89 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="450"
                                    data-images="10" data-price="8.99">
                                <label>10 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                8.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.90">
                                0.90 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="451"
                                    data-images="75" data-price="45.99">
                                <label>75 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                45.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.61">
                                0.61 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item active" data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="452"
                                    data-images="200" data-price="95.99" checked>
                                <label>200 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                95.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.48">
                                0.48 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="453"
                                    data-images="500" data-price="189.99">
                                <label>500 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                189.99</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.38">
                                0.38 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="454"
                                    data-images="1200" data-price="379">
                                <label>1,200 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                379.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.32">
                                0.32 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="455"
                                    data-images="4000" data-price="799">
                                <label>4,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                799.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.20">
                                0.20 <strong> / image</strong>
                            </span>
                        </div>
                        <div class="rm-pd-item " data-onClick="RemovalPricing.itemClick">
                            <span class="rm-pd-image">
                                <input type="radio" class="rm-pd-item-price" name="rm_pd_item_2" value="456"
                                    data-images="8000" data-price="1499">
                                <label>8,000 images</label>
                            </span>
                            <span class="rm-pd-price rm-text-center">$
                                1,499.00</span>
                            <span class="rm-pd-avg rm-text-right" data-avg="0.19">
                                0.19 <strong> / image</strong>
                            </span>
                        </div>
                    </div>
                    <div class="rm-package-button">
                        <div class="rm-subscribe-message rm-mg-bottom-5 rm-hidden"></div>
                        <button class="rm-bt-subscribe rm-bt  rm-bt-main-color rm-transition"
                            data-login="https://removal.ai/login?return_url=https%3A%2F%2Fremoval.ai%2Fpricing"
                            data-onClick="RemovalPricing.processSubscribe">
                            Buy now </button>

                        <button class="rm-bt-contact-us rm-bt rm-bt-main-color rm-transition rm-hidden"
                            data-link="https://removal.ai/contact" data-onClick="RemovalPricing.gotoContact">
                            Contact Us </button>
                    </div>
                    <div style="font-size: 13px; color: #999"
                        class="rm-package-note rm-text-center rm-pd-right-15 rm-pd-left-15">
                        * Price inl. VAT, if applicable. </div>
                    <p
                        style="text-align: center; font-size: 13px; margin-top: 10px; padding-left: 30px; padding-right: 30px;  color: #999">
                        Credits available for use anytime within 3 years. </p>
                </div>
            </div>

            <div class="rm-pricing-item free-package contact-package" style="height: 775px;">
                <div class="rm-pricing-item-inner">
                    <div class="rm-package-name">
                        Unlimited API Access </div>
                    <div class="rm-package-feature">
                        <div class="rm-feature-item">
                            <span class="">Looking for a reliable and scalable solution for your organization? Not yet
                                known exactly your usage volume? We got you! Don&#039;t hesitate to contact us to get
                                good offers!</span>
                        </div>
                    </div>
                    <div class="rm-package-button">
                        <button class="rm-bt-contact-us rm-bt rm-bt-main-color rm-transition"
                            data-link="https://removal.ai/contact" data-onClick="RemovalPricing.gotoContact">
                            Contact Us </button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div> -->

<div style="overflow: hidden !important;">

    <div class="rm-icon-list" style="margin-top: 10%;">

        <div class="rm-icon-list-inner  ab">
            <div class="rm-icon">
                <p><img src="../../assets/images/icon-1.png" /></p>
                <div class="rm-icon-title">Unlimited free previews on removal.ai</div>
            </div>
            <div class="rm-icon">
                <p><img src="https://removal.ai/wp-content/uploads/new-theme/icon-2.png" /></p>
                <div class="rm-icon-title">50 free previews via API and apps per month</div>
            </div>
            <div class="rm-icon">
                <p><img src="https://removal.ai/wp-content/uploads/new-theme/icon-3.png" /></p>
                <div class="rm-icon-title">removal.ai for Adobe Photoshop</div>
            </div>
            <div class="rm-icon">
                <p><img src="https://removal.ai/wp-content/uploads/new-theme/icon-4.png" /></p>
                <div class="rm-icon-title">removal.ai for Windows/Mac/Linux</div>
            </div>
        </div>
    </div>
    <div class="content-container rm-top-nev-120">
        <div class="rm-heading">
            <h2>FREQUENTLY ASKED QUESIONS</h2>
        </div>



        <!-- <div class="rm-faq-list">
            <div class="rm-faq-title">What images are supported</div>
            <div class="rm-faq-content">You can upload any JPG or PNG image with up to 12 megabytes. Images must have
                a<br />
                subject that is clearly meant to be the foreground, such as a person, animal, product or car (more
                info).
                If<br />
                the image resolution is larger than 12 megapixels (e.g. 6250 × 4000 pixels or any other aspect ratio) it
                is<br />
                resized to this maximum resolution.</div>
        </div> -->
        <!-- <div class="rm-faq-list">
            <div class="rm-faq-title">What if I am unsatisfied with the results?</div>
            <div class="rm-faq-content">
                <p>At the moment removal.ai works very well for photos of persons, products and cars, but some images
                    are<br />
                    more challenging than others. We recommend uploading a few images to the free version to get an
                    impression<br />
                    of the quality level for your specific images. You can also try 1 image for free by signing up.</p>
                <p>All subscriptions are covered by a 14 Day Money Back Guarantee: You get a full refund within 14 days
                    if
                    you<br />
                    are unsatisfied with the results (restricted to 50 downloads). Have a look at our Refund Policy.</p>
                <p>Subscriptions with 7,500 credits per month or more: You only pay for images that meet your required
                    quality<br />
                    level. Read more about the Quality Guarantee..</p>
            </div>
        </div> -->
        <!-- <div class="rm-faq-list">
            <div class="rm-faq-title">Is removal.ai free?</div>
            <div class="rm-faq-content">Yes, removal.ai is 100% FREE and always FREE for low-resolution images (0.25
                megapixels) and personal uses. For commercial uses or higher resolution, we offer different packages
                here.
                If you have any question, please feel free to contact us.</div>
        </div> -->
        <!-- <div class="rm-faq-list">
            <div class="rm-faq-title">Can I cancel/upgrade/downgrade my subscriptions?</div>
            <div class="rm-faq-content">Yes you can, at any time.</div>
        </div> -->
        <!-- <div class="rm-faq-list">
            <div class="rm-faq-title">What payment methods do you support?</div>
            <div class="rm-faq-content">We support Paypal and Credit Card.</div>
        </div> -->
    </div>
</div>
<div class="acc">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    1. What images are supported? </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    You can upload any JPG or PNG image with up to 12 megabytes. Images must have
                    a subject that is clearly meant to be the foreground, such as a person, animal, product or car (more
                    info). If the image resolution is larger than 12 megapixels (e.g. 6250 × 4000 pixels or any other
                    aspect ratio) it is resized to this maximum resolution.
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    2.What if I am unsatisfied with the results?
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <p>At the moment removal.ai works very well for photos of persons, products and cars, but some
                        images
                        are
                        more challenging than others. We recommend uploading a few images to the free version to get an
                        impression
                        of the quality level for your specific images. You can also try 1 image for free by signing up.
                    </p>
                    <p>All subscriptions are covered by a 14 Day Money Back Guarantee: You get a full refund within 14
                        days
                        if
                        you
                        are unsatisfied with the results (restricted to 50 downloads). Have a look at our Refund Policy.
                    </p>
                    <p>Subscriptions with 7,500 credits per month or more: You only pay for images that meet your
                        required
                        quality
                        level. Read more about the Quality Guarantee..</p>


                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    3.Is removal.ai free ? </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    Yes, removal.ai is 100% FREE and always FREE for low-resolution images (0.25
                    megapixels) and personal uses. For commercial uses or higher resolution, we offer different packages
                    here.
                    If you have any question, please feel free to contact us.

                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    4.Can I cancel/upgrade/downgrade my subscriptions ? </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    Yes you can, at any time.


                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    5. What payment methods do you support?

                </button>
            </h2>
            <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
                data-bs-parent="#accordionExample">
                <div class="accordion-body">


                    We support Paypal and Credit Card


                </div>
            </div>
        </div>





    </div>
</div>
<!-- <script type="text/javascript">
    var wz_admin = 'https://removal.ai/wp-admin/admin-ajax.php';
    var wz_url = 'https://removal.ai/wp-content/themes/remove/images/no_result.jpg';
</script> -->