h1 {
    font-size: 40px;
    line-height: 1.4;
    margin: 0 0 20px 0;
    font-weight: 700;
    color: black;
}

.rm-icon-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #E6F2FF!important;
    color: #000;
}
.rm-icon-list-inner {
    width: 1360px;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: flex-end;
}
.rm-icon-list {
    margin-top: -140px;
}

.rm-icon {
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
    color: #fff;
    box-sizing: border-box;
}

.rm-icon-list .rm-icon {
    color: #000;
}
.rm-icon-title {
    width: 60%;
    margin: 0 auto;
    font-weight: 500;
}

///faqs css
.rm-faq-list {
    width: 855px;
    margin: 0 auto;
    padding: 30px 25px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 4%);
    margin-bottom: 20px;
}

.rm-heading {
    text-align: center ;
    margin-bottom: 80px;
}

.rm-faq-list .rm-faq-title {
    color: #4a76fe;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 16px;
}

@media (max-width: 599px){
.rm-icon-list-inner  {
     flex-wrap: wrap ;
    
   
}

}

@media (max-width: 599px){
.rm-icon {
    width: 100%;
    margin-bottom: 50px;
}}

///accordian//
.accordion-button {
    font-size    : 18px;
    // color: #ffffff;
    font-weight  : 500;
    // background: #27355f;
    padding      : 20px;
    // border-radius: 20px !important;

}

.acc{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 20px;
}

.accordion-button:not(.collapsed){
        background: #311b92;
        color: #ffffff;

        
}

.accordion-item:first-of-type {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.accordion-item:last-of-type {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
}
.accordion-item:first-of-type .accordion-button {
    border-top-left-radius: calc(20px);
    border-top-right-radius: calc(20px);
}
.accordion-button:after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='gray'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
// .accordion-button::before {

// background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
// }

.accordion-body {
    font-size: 16px;
    font-weight: 500;
    color: rgb(124, 124, 124);
}

