<div style="overflow-x: hidden !important; ">
    <div class="rm-upload-process-content rm-hidden rm-upload-container page-template-template-general">
        <div class="rm-upload-process-top">
            <!-- <div class="rm-uploading">
            <div class="rm-upload-inner">
                <form method="post" enctype="multipart/form-data" id="form_upload">
                    <div class="rst-form-group-choose rm-new-design">
                        <div class="rst-form-group rst-form-group-drag">
                            <div class="rm-upload-message rm-hidden"></div>
                            <div class="rst-form-group-button">
                                <label for="rm_ct_upload_file">UPLOAD IMAGE</label>
                                <input type="file" class="form-control rm-upload-file" id="rm_ct_upload_file"
                                    name="rm_file_upload" accept="image/png,image/jpg,image/jpeg">
                                <input type="hidden" id="rm_upload_nonce" name="rm_upload_nonce"
                                    value="61196d2ccc" /><input type="hidden" name="_wp_http_referer"
                                    value="/upload/" /> <span>or Drag and Drop images</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> -->


            <div class="container-fluid ">

                <div class="row mb-5 topflex">
                    <div class="col-12 col-sm-6 col-md-3">
                        <div class="card card-purple-pink text-white">
                            <div class="card-body d-flex justify-content-between align-items-end">
                                <div class="card-number">
                                    <div class="h3 m-0"></div><small><strong>Welcome to Bgmovel</strong></small>
                                </div>
                                <!-- <div class="card-description text-right"><small>92</small><br /><small>7.61%</small>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="rm-upload-inner rm-hidden">
                <form method="post" enctype="multipart/form-data" id="form_upload">
                    <div class="rst-form-group-choose ">
                        <div class="rst-form-group rst-form-group-drag">
                            <div class="rm-upload-message rm-hidden">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="rm-upload-utilities-item">
                                                <img src="../../assets/images/upload1.png" alt="" width="244"
                                                    height="180" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="rm-upload-utilities-item">
                                                <img src="../../assets/images/upload2.png" alt="" width="244"
                                                    height="180" />

                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="rm-upload-utilities-item">
                                                <img src="../../assets/images/upload3.png" alt="" width="244"
                                                    height="180" />

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="rst-form-group-button">
                                <label id="rst_choose_upload" for="rm_upload_file">UPLOAD IMAGE</label>
                                <input type="file" class="form-control" id="rm_upload_file" name="rm_file_upload"
                                    accept="image/png|image/jpg|image/jpeg">
                                <span>or Drag and Drop images</span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="rm-upload-process-bottom" id="rm-upload-result">
            <div class="rm-upload-process-bottom-inner">

            </div>
            <p style="margin-top: 20px; font-size:13px; text-align:center; color: #949494">Please download your files.
                They
                will be
                discarded automatically after 60 minutes.</p>
        </div>

    </div>

    <div class="centr"><button (click)=" showing()" class="process">Payment process</button></div>

    <div class="row topflex">
        <div class=" col-lg-4 mt-5" *ngIf="show">
            <div class="course">
                <div class="course-preview">
                    <h6 style="color: white;">Price</h6>
                    <h2 style="color: white;">$20</h2>
                </div>
                <div class="course-info">
                    <div class="progress-container">
                        <div class="progress"></div>

                    </div>
                    <h3>5</h3>
                    <h4>Total images</h4>
                    <button class="btn">Proceed</button>
                </div>
            </div>
        </div>
        <!-- <div class=" col-lg-4" *ngIf="show" style="margin-left: 10%;margin-top: 5%;">
            <div class="course">
                <div class="course-preview">
                    <h6 style="color: white;">Price</h6>
                    <h2 style="color: white;">$20</h2>
                </div>
                <div class="course-info">
                    <div class="progress-container">
                        <div class="progress"></div>
                       
                    </div>
                    <h3>5</h3>
                    <h4>Total images</h4>
                    <button class="btn">Proceed</button>
                </div>
            </div>
        </div> -->
    </div>





    <!-- <div class="row " *ngIf="show">
        <div class="col-lg-6">
            <div class="card1">


                <div class="bil">
                <span style="font-size: 40px;font-weight: bold;padding-right: 5%; ">$20</span>
                <span style="font-size: 30px;font-weight: 400;padding-left: 10%;">Your Bill</span><br>
                <span style="font-size: 20px;font-weight: 400;padding-left: 30%;">Total 5 images</span><br>


            </div>


                
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card1">
                <div class="bil">
        

                </div>
            </div>
        </div>

    </div> -->


    <div class="rm-upload-utilities">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="rm-upload-utilities-item">
                        <img src="../../assets/images/upload1.png" alt="" width="244" height="180" />
                        <p class="rm-upload-utilities-title">
                            Fully Automated Background Remover</p>
                        <p class="rm-upload-utilities-content">
                            Instantly get transparent background image in almost no time. Fully automated and free. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rm-upload-utilities-item">
                        <img src="../../assets/images/upload2.png" alt="" width="244" height="180" />
                        <p class="rm-upload-utilities-title">Replace to Any Background </p>
                        <p class="rm-upload-utilities-content">
                            Easily replace the distracting background with solid background colors or use any other
                            images
                            as the background. </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="rm-upload-utilities-item">
                        <img src="../../assets/images/upload3.png" alt="" width="244" height="180" />
                        <p class="rm-upload-utilities-title">Design the way you want </p>
                        <p class="rm-upload-utilities-content">
                            Get a transparent image then easily yet effectively create stunning banners just in a matter
                            of
                            minutes. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>