.page-template-template-general  {
    background-color: #f6f7fa;
    padding-top: 170px;
    box-sizing: content-box;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    padding-bottom: 50px;
}

.rm-upload-container .rst-form-group-choose {
    margin: 0 auto !important;
}

.rst-form-group-choose {
    max-width: 1160px !important;
}

.rm-upload-utilities {
    //  background-color: #f6f7fa;
    padding-bottom: 40px ; 
    margin-top: 80px;
}

.rm-upload-utilities .rm-upload-utilities-item {
    text-align: center;
    margin: auto 37px;
}

.rm-upload-utilities-item .rm-upload-utilities-title {
    font-weight: 600;
    font-size: 18px;
    max-width: 80%;
    text-align: center;
    margin: auto;
    margin-bottom: 25px;
}

.rm-upload-utilities-item .rm-upload-utilities-content {
    line-height: 1.8;
}