.page-template-template-general {
	background-color: #f6f7fa;
	padding-top     : 170px;
	box-sizing      : content-box;
	max-width       : 100%;
	overflow-x      : hidden;
	overflow-y      : hidden;
	box-sizing      : border-box;
	padding-bottom  : 50px;
}

.rm-upload-container .rst-form-group-choose {
	margin: 0 auto !important;
}

.rst-form-group-choose {
	max-width: 1160px !important;
}

.rm-upload-utilities {
	//  background-color: #f6f7fa;
	padding-bottom: 40px;
	margin-top    : 80px;
}

.rm-upload-utilities .rm-upload-utilities-item {
	text-align: center;
	margin    : auto 37px;
}

.rm-upload-utilities-item .rm-upload-utilities-title {
	font-weight  : 600;
	font-size    : 18px;
	max-width    : 80%;
	text-align   : center;
	margin       : auto;
	margin-bottom: 25px;
}

.rm-upload-utilities-item .rm-upload-utilities-content {
	line-height: 1.8;
}

.rst-form-group-choose label {
	cursor        : pointer;
	text-transform: uppercase;
	font-size     : 15px;
	height        : 57px;
	line-height   : 57px;
	display       : inline-block;
	color         : #fff;
	padding       : 0 35px;
	background    : #7b4fa7;
	margin-bottom : 10px;
	margin-top    : 50px;
	border-radius : 4px;
}

.rst-form-group-choose .rst-form-group {
	border       : 1px solid #ffffff;
	border-radius: 3px;
	padding      : 45px 30px 35px 30px;
	position     : relative;
	box-shadow   : rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	border-radius: 20px;

}

.centr {

	display        : flex;
	justify-content: center;
}

.process {
	background: #7b4fa7;
	color     : white;
	padding   : 10px;
	outline   : none;
	border    : none;
	margin-top: 20px;

}


* {
	box-sizing: border-box;
}


body {
	background-image: linear-gradient(45deg, #7175da, #9790F2);
	font-family     : 'Muli', sans-serif;
	display         : flex;
	align-items     : center;
	justify-content : center;
	flex-direction  : column;
	min-height      : 100vh;
	margin          : 0;
}



.course {
	background-color: #fff;
	border-radius   : 10px;
	box-shadow      : 0 10px 10px rgba(0, 0, 0, 0.2);
	display         : flex;
	max-width       : 100%;
	// margin-top: 100px;
	// margin-left: 100px;
	overflow        : hidden;
	width           : 550px;
}

.course h6 {
	opacity       : 0.6;
	margin        : 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin        : 10px 0;
}

.course-preview {
	background-color: #7b4fa7;
	color           : #fff;
	padding         : 30px;
	max-width       : 250px;
}

.course-preview a {
	color          : #fff;
	display        : inline-block;
	font-size      : 12px;
	opacity        : 0.6;
	margin-top     : 30px;
	text-decoration: none;
}

.course-info {
	padding : 30px;
	position: relative;
	width   : 100%;
}

.progress-container {
	position  : absolute;
	top       : 30px;
	right     : 30px;
	text-align: right;
	width     : 150px;
}

.progress {
	background-color: #ddd;
	border-radius   : 3px;
	height          : 5px;
	width           : 100%;
}

.progress::after {
	border-radius   : 3px;
	background-color: #2A265F;
	content         : '';
	position        : absolute;
	top             : 0;
	left            : 0;
	height          : 5px;
	width           : 66%;
}

.progress-text {
	font-size     : 10px;
	opacity       : 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #7b4fa7;
	border          : 0;
	border-radius   : 50px;
	// box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color           : #fff;
	font-size       : 16px;
	padding         : 9px 25px;
	position        : absolute;
	bottom          : 30px;
	right           : 30px;
	letter-spacing  : 1px;
}

.topflex {
	display        : flex;
	justify-content: center
}


/// banner ui///



body {
	height          : 100vh;
	// width           : 100vw;
	width: 400px !important;
	display         : flex;
	justify-content : center;
	align-items     : center;
	background-color: #F1F6FA;
}

// .card-purple-blue{
// 	background: linear-gradient(45deg, rgba(#6D80FE,1) 0%, rgba(#23D2FD,1) 100%);
// 	box-shadow: 0 5px 20px rgba(#23D2FD,.3);
// }
// .card-salmon-pink{
// 	background: linear-gradient(45deg, rgba(#FF998B,1) 0%, rgba(#FF6D88,1) 100%);
// 	box-shadow: 0 5px 20px rgba(#FF998B,.3);
// }
// .card-blue-green{
// 	background: linear-gradient(45deg, rgba(#09AFE8,1) 0%, rgba(#29F499,1) 100%);
// 	box-shadow: 0 5px 20px rgba(#29F499,.3);
// }
.card-purple-pink {
	background: linear-gradient(45deg, rgba(#ff2525, 1) 0%, rgba(#ffb8b8, 1) 100%);
	box-shadow: 0 5px 20px rgba(#FA81E8, .3);
}

.card {
	border       : 0;
	border-radius: 10px;

	// padding: 15px 20px;

}


.btn1 {
	background-color: #ff0000;
	border          : 0;
	border-radius   : 50px;
	// box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color           : #fff;
	font-size       : 16px;
	padding         : 9px 25px;

	letter-spacing  : 1px;
margin-top: 50px !important;
}

.msg{
	margin-top: 20px; font-size:13px; text-align:center; color: #949494
}

.col{
	color: white;
}


.over{
	overflow-x: hidden !important;
}


.blue-snackbar {
	background: #2196F3 !important;
  }

  .cen{
	  margin-top: 20px;
	text-align: center;
  }