<div style="overflow: hidden !important">
  <div id="content" class="content-landing">
    <div class="rst-banner-term rst-banner-faq">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="manual-remove-content">
              <h1 class="content-title">We’d love to hear from you</h1>
              <p class="content-sub-title">
                Send us a message and we’ll repond within 24 hours
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-twitter-square"
                  style="
                    color: #00a2f3;
                    font-size: 22px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                <a target="_blank" href="https://twitter.com/">
                  https://twitter.com/Bg_Removal
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-facebook-square"
                  style="
                    color: #1877f2;
                    font-size: 22px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                <a target="_blank" href="https://www.facebook.com/">
                  https://www.facebook.com/bgremoval
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-pinterest"
                  style="
                    color: #e60023;
                    font-size: 22px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                <a target="_blank" href="https://www.pinterest.com/">
                  https://www.pinterest.com/
                </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-envelope"
                  style="
                    color: #ff3c65;
                    font-size: 20px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                <a target="_blank"> hello@Bg_Removal </a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-phone"
                  style="
                    color: #4e7efe;
                    font-size: 22px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i
                ><a style="color: #000">+000-0000-0000</a>
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-map-marker"
                  style="
                    color: #ea4a33;
                    font-size: 23px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                Vietnam Office: #5 Nguyentrai street, Vinh city, Vietnam
              </p>
              <p class="content-benefit">
                <i
                  class="fa fa-map-marker"
                  style="
                    color: #ea4a33;
                    font-size: 23px;
                    margin-right: 10px;
                    vertical-align: bottom;
                  "
                ></i>
                UK Office: 24-26 Arcadia Avenue, Dephna House #105, London,
                Greater London, United Kingdom, N3 2JU
              </p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="manual-remove-form">
              <div class="manual-remove-form__header">Send us a Message</div>
              <div class="manual-remove-form__content">
                <div
                  role="form"
                  class="wpcf7"
                  id="wpcf7-f7-p37-o1"
                  lang="en-US"
                  dir="ltr"
                >
                  <div class="screen-reader-response">
                    <p role="status" aria-live="polite" aria-atomic="true"></p>
                    <ul></ul>
                  </div>
                  <form
                    action="/contact/#wpcf7-f7-p37-o1"
                    method="post"
                    class="wpcf7-form init"
                    novalidate="novalidate"
                    data-status="init"
                  >
                    <div style="display: none">
                      <input type="hidden" name="_wpcf7" value="7" />
                      <input
                        type="hidden"
                        name="_wpcf7_version"
                        value="5.4.1"
                      />
                      <input type="hidden" name="_wpcf7_locale" value="en_US" />
                      <input
                        type="hidden"
                        name="_wpcf7_unit_tag"
                        value="wpcf7-f7-p37-o1"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_container_post"
                        value="37"
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_posted_data_hash"
                        value=""
                      />
                      <input
                        type="hidden"
                        name="_wpcf7_recaptcha_response"
                        value=""
                      />
                    </div>
                    <div class="row">
                      <div class="group-input col-md-12">
                        <span class="wpcf7-form-control-wrap your-name"
                          ><input
                            type="text"
                            name="your-name"
                            value=""
                            size="40"
                            class="
                              wpcf7-form-control
                              wpcf7-text
                              wpcf7-validates-as-required
                            "
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Your Name"
                        /></span>
                      </div>
                      <div class="group-input col-md-12">
                        <span class="wpcf7-form-control-wrap your-email"
                          ><input
                            type="email"
                            name="your-email"
                            value=""
                            size="40"
                            class="
                              wpcf7-form-control
                              wpcf7-text
                              wpcf7-email
                              wpcf7-validates-as-required
                              wpcf7-validates-as-email
                            "
                            aria-required="true"
                            aria-invalid="false"
                            placeholder="Your Email"
                        /></span>
                      </div>
                      <div class="group-input col-md-12">
                        <label>How can We help you?</label
                        ><span class="wpcf7-form-control-wrap your-message">
                          <textarea
                            name="your-message"
                            cols="40"
                            rows="10"
                            class="
                              wpcf7-form-control
                              wpcf7-textarea
                              wpcf7-validates-as-required
                            "
                            aria-required="true"
                            aria-invalid="false"
                          ></textarea>
                        </span>
                      </div>
                      <div class="rst-button-submit text-center col-md-12">
                        <input
                          type="submit"
                          value="SEND"
                          class="wpcf7-form-control wpcf7-submit"
                        />
                      </div>
                    </div>
                    <div class="wpcf7-response-output" aria-hidden="true"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="content-container rm-top-nev-20">
      <div class="rm-heading">
        <h2>FREQUENTLY ASKED QUESIONS</h2>
      </div>
      <div class="acc">
        <div class="accordion" id="accordionExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingOne">
              <button
                class="accordion-button"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="true"
                aria-controls="collapseOne"
              >
                1. What images are supported?
              </button>
            </h2>
            <div
              id="collapseOne"
              class="accordion-collapse collapse show"
              aria-labelledby="headingOne"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                You can upload any JPG or PNG image with up to 12 megabytes.
                Images must have a subject that is clearly meant to be the
                foreground, such as a person, animal, product or car (more
                info). If the image resolution is larger than 12 megapixels
                (e.g. 6250 × 4000 pixels or any other aspect ratio) it is
                resized to this maximum resolution.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingTwo">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo"
              >
                2.What if I am unsatisfied with the results?
              </button>
            </h2>
            <div
              id="collapseTwo"
              class="accordion-collapse collapse"
              aria-labelledby="headingTwo"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                <p>
                  At the moment Bgremoval works very well for photos of persons,
                  products and cars, but some images are more challenging than
                  others. We recommend uploading a few images to the free
                  version to get an impression of the quality level for your
                  specific images. You can also try 1 image for free by signing
                  up.
                </p>
                <p>
                  All subscriptions are covered by a 14 Day Money Back
                  Guarantee: You get a full refund within 14 days if you are
                  unsatisfied with the results (restricted to 50 downloads).
                  Have a look at our Refund Policy.
                </p>
                <p>
                  Subscriptions with 7,500 credits per month or more: You only
                  pay for images that meet your required quality level. Read
                  more about the Quality Guarantee..
                </p>
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingThree">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree"
              >
                3.Is Bgremoval paid ?
              </button>
            </h2>
            <div
              id="collapseThree"
              class="accordion-collapse collapse"
              aria-labelledby="headingThree"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                Yes, Bgremoval is paid for low-resolution images (0.25
                megapixels) and personal uses. For commercial uses or higher
                resolution, we offer different packages here. If you have any
                question, please feel free to contact us.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFour">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour"
              >
                4.Can I cancel/upgrade/downgrade my subscriptions ?
              </button>
            </h2>
            <div
              id="collapseFour"
              class="accordion-collapse collapse"
              aria-labelledby="headingFour"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">Yes you can, at any time.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="headingFive">
              <button
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFive"
                aria-expanded="false"
                aria-controls="collapseFive"
              >
                5. What payment methods do you support?
              </button>
            </h2>
            <div
              id="collapseFive"
              class="accordion-collapse collapse"
              aria-labelledby="headingFive"
              data-bs-parent="#accordionExample"
            >
              <div class="accordion-body">
                We support Paypal and Credit Card
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="rst-home-blog">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <h3>Blog <a> </a></h3>
          <ul>
            <li>
              <a target="_blank"
                >Nov 16, 2021
                <b
                  >5 Product Photography Trends to Incorporate Into Your Work</b
                ></a
              >
            </li>
            <li>
              <a target="_blank"
                >Nov 5, 2021
                <b>Bg Removal, A Powerful Photo Editor for Photographers</b></a
              >
            </li>
            <li>
              <a target="_blank"
                >Oct 23, 2021
                <b
                  >Digital Marketing: Seeing the Future with Computer Vision</b
                ></a
              >
            </li>
            <li>
              <a target="_blank"
                >Oct 16, 2021
                <b
                  >Web Design and Development: Accessing the Power of AI to
                  Improve your Workflow</b
                ></a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="rst-subscription-form">
            <h3>Get Updates</h3>
            <p>
              Sign up for our mailing list and we will let you know when we
              release new features or updates.
            </p>
            <span><b>Email address</b></span>
            <input type="text" placeholder="Someone@example.com" />
            <button aria-label="Subcriber">
              <i class="fa fa-paper-plane" aria-hidden="true"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
