.rm-faq-list {
    width: 855px;
    margin: 0 auto;
    padding: 30px 25px;
    background-color: #fff;
    box-shadow: 0 0 5px 5px rgb(0 0 0 / 4%);
    margin-bottom: 20px;
}

.rm-heading {
    text-align: center ;
    margin-bottom: 80px;
}

.rm-faq-list .rm-faq-title {
    color: #4a76fe;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 16px;
}