.rst-form-group-choose label {
    cursor: pointer;
    text-transform: uppercase;
    font-size: 15px;
    height: 57px;
    line-height: 57px;
    display: inline-block;
    color: #fff;
    padding: 0 35px;
    background: #e100ff;
    margin-bottom: 10px;
    border-radius: 4px;
}